*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:linear-gradient(#27519D, #5E58A2, #8455A5);
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contact-left-title h2{
    font-family: 800;
    color: #ec8cb3;
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-left-title hr{
    /* border: none; */
    width: 150px;
    height: 5px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs{
    width: 23vw;
    height: 5vh;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #ec8cb3;
    border-radius: 40px;
}
.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus{
    border: 2px solid #ec8cb3;
}
.contact-inputs::placeholder {
    color: rgb(195, 82, 236);
}

.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    gap: 10px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(#27519D, #5E58A2);
    transition: all 0.5s;
}

.contact-left button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.contact-left button span:after{
    content:url('assets/arrow_icon.png');
    position: absolute;
    opacity: 0;
    top: 0;
    right: -40px;
    transition: 0.5s;
}
.contact-left button:hover span{
    padding-right: 29px;
}
.contact-left button:hover span:after{
    opacity: 1;
    right: 0;
}

.contact-left button img{
    height: 15px;

}


.contact-right img{
    height: 400px;
    transform: rotateY(190deg);
    transition: transform 1s;
}

.contact-right img:hover{
    transform: rotateY(10deg);
    box-shadow: 10px 2px 10px 5px rgb(79, 76, 76);
    border-radius: 50px;
}

@media (max-width: 880px)
  {
      .contact-inputs
    {
        width:80vw;
    
    }
    .contact-right{
        display: none;
    }
}
   